{
  "extends": "airbnb-base",
  "rules": {
    "comma-dangle": ["error", "never"],
    "class-methods-use-this": "off",
    "object-curly-newline": [
      "error",
      {
        "consistent": true,
        "multiline": true
      }
    ],
    "radix": ["error", "as-needed"],
    "no-param-reassign": ["error", { "props": false }],
    "no-underscore-dangle": "off",
    "no-plusplus": "off",
    "max-len": ["error", { "code": 120, "ignoreComments": true }]
  }
}
