<!DOCTYPE html>
<html>
    <head>
        <title> Testing Client RESTful Service</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- SCRIPT -->
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyCtoc2CLiq0QkGfdVKuyxJPhMfvSvNriRo&sensor=false&language=uk"></script>
        <script type="text/javascript" src="./js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="./js/bus.js"></script>
        <!-- FAVICON -->
        <link rel="shortcut icon" href="img/favicon.ico" type="image/gif">
        <!-- STYLE -->
        <style type="text/css">
            html { height: 100% }
            body { height: 100%; margin: 0px; padding: 0px }
            #map_canvas { height: 100% }
        </style>
    </head>
    <body onload="initializeMap()">
        <!-- START/END BUTTON -->
        <div style="position: absolute; height: 20px; width: 50px; z-index: 1000; right: 0">
            <button id="act" onclick="endAction()"> End </button>
        </div>
        <!-- MAP -->
        <div id="map_canvas">
            &nbsp;
        </div>
    </body>
</html>
