<!--
To change this template, choose utils | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title> Create temporary points </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="./js/jquery-1.9.1.min.js"></script>
        <script src="js/async.js"></script>
        <script src="http://maps.google.com/maps/api/js?key=AIzaSyCtoc2CLiq0QkGfdVKuyxJPhMfvSvNriRo&sensor=false&language=uk"></script>

        <link rel="shortcut icon" href="img/favicon.ico" type="image/gif">

        <style type="text/css">
            html { height: 100% }
            body { height: 100%; margin: 0px; padding: 0px }
            #map_canvas { height: 100% }
        </style>
    </head>
    <body onload="initialize()">
        <!-- START/END BUTTON -->
        
        <div style="position: absolute; height: 20px; width: 50px; z-index: 1000; right: 0">
            <button id="act" onclick="dropAll()"> Drop </button>
            <input id="index" type="text" style="width: 40px" value="none">
            <select id="routeId" type="text" style="width: 40px">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
        <!-- MAP -->
        <div id="map_canvas">
            &nbsp;
        </div>
        <script type="text/javascript">
            // buffer for markers
            var markers = [];
            var ids = [];
            var points = [];
            // init function (create map and load existing markers from server)
            function initialize() {
                var settings = {
                    zoom: 15,
                    center: new google.maps.LatLng(51.4982000,31.2893500),
                    mapTypeControl: true,
                    draggableCursor: 'crosshair',
                    mapTypeControlOptions: {
                        style: google.maps.MapTypeControlStyle,
                        position: google.maps.ControlPosition.BOTTOM_LEFT
                    },
                    navigationControl: true,
                    navigationControlOptions: {
                        style: google.maps.NavigationControlStyle.SMALL
                    },
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                // create map
                var map = new google.maps.Map(document.getElementById("map_canvas"), settings);
                // add map click handler
                google.maps.event.addListener(map, 'click', function(event) {
                    addMarker(map, event.latLng);
                    $.ajax({
                        datatype: 'JSON',
                        type: 'POST',
                        url: '/data/temp',
                        data: {
                            lat: event.latLng.lat(),
                            lng: event.latLng.lng(),
                            id: markers.length - 1,
                            route: $('#routeId').val()
                        },
                        success: function(result) {
                            ids.push(result.temp._id);
                        }
                    });
                });
                // load existing markers
                $.ajax({
                    datatype: 'JSON',
                    type: 'GET',
                    url: '/data/temp',
                    success: function(result) {
                        for (var i=0;i<result.length;i++) {
                            var marker = addMarker(map, new google.maps.LatLng(result[i].lat, result[i].lng));
                            ids.push(result[i]._id);
                        }
                    }
                });
                $.get('/data/points',function(result) {
                    for (var i=0;i<result.length;i++) {
                        var item = result[i];
                        var point = new google.maps.Marker({
                            position: new google.maps.LatLng(item.lat, item.lng),
                            map: map,
                            icon: new google.maps.MarkerImage(
                                    'img/stop2.png',
                                    new google.maps.Size(16, 16),
                                    new google.maps.Point(0, 0),
                                    new google.maps.Point(8, 10))
                        });
                        points.push(point);
                    }
                });
            };

            function addMarker(map, position) {
                var marker = new google.maps.Marker({
                    position: position,
                    map: map,
                    draggable: true
                });
                google.maps.event.addListener(marker, 'click', function() {
                    alert(markers.indexOf(marker));
                });
                google.maps.event.addListener(marker, 'dragend', function() {
                    $.ajax({
                        datatype: 'JSON',
                        type: 'PUT',
                        url: '/data/temp/' + ids[markers.indexOf(marker)],
                        data: {
                            lat: marker.position.lat(),
                            lng: marker.position.lng()
                        }
                    });
                });
                markers.push(marker);
                var index = markers.length - 1;
                $('#index').val(markers.length - 1);
                return marker;
            };

            function dropAll() {
                $.ajax({
                    datatype: 'JSON',
                    type: 'DELETE',
                    url: '/data/temp',
                    success: function(result) {
                        async.each(markers, function(item, callback) {
                            item.setVisible(false);
                            callback();
                        }, function(err) {
                            markers = [];
                        });
                    }
                });
                $('#index').val('none');
            }
        </script>
    </body>
</html>
