<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <title> Livecity </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="invercity" >
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    
    <!-- SCRIPTS --> 
    <script type="text/javascript" 
        src="http://maps.google.com/maps/api/js?key=AIzaSyCtoc2CLiq0QkGfdVKuyxJPhMfvSvNriRo&sensor=true&language=uk">
    </script>
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/livecity.js"></script>
    <script src="js/infobox.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/chosen.jquery.js"></script>
    <script src="js/async.js"></script>
      <!-- STYLES -->
    <link rel="stylesheet" href="css/livecity.css">
    <link rel="stylesheet" href="css/chosen.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.css">

    <link rel="shortcut icon" href="img/favicon.ico" type="image/gif">
    </head>
    <body>

    <!-- MAIN CONTAINER -->

    <div class="container z1" style="width: 100%">
        <div class="navbar" style="width: 500px; max-width: 800px; margin: 0 auto; border: 1px solid #b1b1b1">
            <div class="navbar-inner" style="padding: 0">
                <ul class="nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle clickable" data-toggle="dropdown" id="app-info">
                            Livecity
                        </a>
                        <ul class="dropdown-menu">
                            <div>
                                <div class="input-group input-group-sm margin-left5">
                                    <h6 class="clickable">
                                        <div id="app-version-text" class="inline">Версия:</div>
                                        <span class="label label-default" id="app-version"></span>
                                    </h6>
                                    <h6 class="clickable">
                                        <div id="app-routes-text" class="inline">Маршрутов:</div>
                                        <span class="label label-default" id="app-routes"></span>
                                    </h6>
                                    <h6 class="clickable">
                                        <div id="app-transports-text" class="inline">Транспорта:</div>
                                        <span class="label label-default" id="app-transports"></span>
                                    </h6>
                                    <h6 class="clickable">
                                        <div id="app-points-text" class="inline">Остановок:</div>
                                        <span class="label label-default" id="app-points"></span>
                                    </h6>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li class="navbar-search" style="width: 335px; padding-left: 0">
                            <select class="chosen" id="main-search" data-placeholder="Искать..." multiple tabindex="3">
                                <optgroup label="Места"></optgroup>
                                <optgroup label="Маршруты"></optgroup>
                            </select>
                    </li>
                    <li class="pull-right"><a class="clickable" id="auth"></a></li>
                </ul>
            </div>
        </div>
        <form class="form-signin" id="authform" style="display: none">
            <h3 class="form-signin-heading">
                Авторизация
                <button class="close" type="button" id="authform-close">&times;</button>
            </h3>
            <input type="text" name="login" id="login" class="input-block-level" placeholder="Логин">
            <input type="password" name="pass" id="pass" class="input-block-level" placeholder="Пароль">
            <button class="btn" id="auth-submit" type="submit">Войти</button>
            &NonBreakingSpace;
            <label class="checkbox" style="display: inline-table; visibility: hidden">
                <input type="checkbox" value="remember-me"> Запомнить меня
            </label>
        </form>
    </div>
    
    <!-- TOOL BOX -->

    <div id="toolbox" class="toolbox">
        <div class="tabbable tabs-below">
            <div class="tab-content" id="toolbox-data">

                <!-- ROUTE EDITOR -->

                <div class="tab-pane fade in" id="tab-route">
                    <div class="input-group input-group-sm margin-left5">
                        <!-- TITLE -->
                        <h4>
                            <div id="route-editor-title" style="display: inline">
                                Маршруты
                            </div>
                            <button class="close pull-right" style="margin-right: 20px" id="route-editor-close">&times</button>
                        </h4>
                        <h5 class="clickable" id="button-route-start">
                            Начальная<br/>
                            <span class="label label-default" id="route-start"> Не выбрано</span>
                        </h5>
                        <h5 class="clickable" id="button-route-end">
                            Конечная<br/>
                            <span class="label label-default" id="route-end"> Не выбрано</span>
                        </h5>
                        <h5 class="clickable">
                            Длина маршрута, м<br/>
                            <span class="label label-default" id="route-length">0</span>
                        </h5>
                        <input type="text" id="route-name" class="form-control" placeholder="Название" style="width: 90%">
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" id="route-save"> Сохранить</button>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" id="route-remove"> Удалить</button>
                            </div>
                        </div>
                    </div>
                    <!-- LIST -->
                    <div id="route_list">
                        <ul>

                        </ul>
                    </div>
                </div>
                <div class="tab-pane fade in" id="tab-point">
                    <div class="input-group input-group-sm margin-left5">
                        <!-- TITLE -->
                        <h4>
                            <div id="point-editor-title" style="display: inline">
                                Места
                            </div>
                            <button class="close pull-right" style="margin-right: 20px" id="point-editor-close">&times</button>
                        </h4>
                        <h5>
                            Широта<br/>
                            <span class="label label-default"><div id="label_posx">0</div></span>
                        </h5>
                        <h5>
                            Долгота<br/>
                            <span class="label label-default"><div id="label_posy">0</div></span>
                        </h5>
                        <input type="text" id="label_name" class="form-control" placeholder="Название" style="width: 90%">
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" id="point-save"> Сохранить</button>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" id="point-delete"> Удалить</button>
                            </div>
                        </div>
                    </div>
                    <!-- LIST -->
                    <div id="marker_list">
                        <ul>

                        </ul>
                    </div>
                </div>

                <!-- GUIDE EDITOR-->

                <div class="tab-pane fade in" id="tab-guide">
                    <!-- INPUTS -->
                    <div class="input-group input-group-sm margin-left5">
                        <!-- TITLE -->
                        <h4>
                            <div id="guide-editor-title" style="display: inline">
                                Найти путь
                                <span class="glyphicon glyphicon-search"></span>
                            </div>
                            <button class="close pull-right" style="margin-right: 20px" id="guide-close">&times</button>
                        </h4>
                        <!-- OPTIONS -->
                        <h5>
                            Начальная точка<br/>
                            <span class="label label-default"><div id="guide_start">Не задано</div></span>
                        </h5>
                        <h5>
                            Конечная точка<br/>
                            <span class="label label-default"><div id="guide_end">Не задано</div></span>
                        </h5>
                        <h5>
                            Длина, м.:<br/>
                            <span class="label label-default"><div id="guide_length">0</div></span>
                        </h5>
                        <label class="checkbox">
                            <input type="checkbox" id="guide-show-places" > Отобразить места
                        </label>

                        <!-- WILL BE HIDDEN TEMPORARY (URL)
                        <input type="text" id="guide_url" placeholder="url" class="form-control" style="width: 90%">

                        <!-- BUTTONS -->
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" id="guide-save"> Сохранить</button>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default" id="guide-new"> Новый путь</button>
                            </div>
                        </div>
                        <!--
                        <h5>
                            Мои маршруты
                        </h5>
                            <ul class="nav nav-list nav-stacked" style="overflow: auto; height: 100px; width: 200px">
                                <li><a class="clickable"> 2222</a></li>
                                <li><a> 1111</a></li>
                                <li><a> 3333</a></li>
                                <li><a> 4444</a></li>
                            </ul> -->
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs" style="padding-left: 5%; position: absolute; bottom: 0; margin-bottom: 3px">
                <li id="tab-guide-active">
                    <a href="#tab-guide" data-toggle="tab" id="open-guide">
                        <img src="img/flag.png" style="width: 20px">
                    </a>
                </li>
                <li id="tab-point-active">
                    <a href="#tab-point" data-toggle="tab" id="open-point-editor">
                        <img src="img/gmap.png" style="width: 20px">
                    </a>
                </li>
                <li id="tab-route-active">
                    <a href="#tab-route" data-toggle="tab" id="open-route-editor">
                        <img src="img/train.png" style="width: 20px">
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- MAP -->

    <div id="map_canvas"></div>

    <div style="position: absolute; left: 50%; bottom: 2%;">
        <div id="alertbox" class="alert-box clickable">
        </div>
    </div>
 </body>
 </html>