#edit_marker,#edit_route,#guide {
    position: absolute;
    right: 0;
    padding: 0;
    margin: 0;
    width: 18%;
    height: 94%;
    padding-top: 10px;
    background: #eeefee;
    z-index: 10;
    font: 14px/19px sans-serif;
    font-weight: bolder;
    opacity: 0.8;
    display: none;
    cursor: default;
}

.routeText {
    font: 14px/19px sans-serif;
    left: 10px;
    margin-left: 10px;
}

#close_button_point, #close_button_route, #close_button_guide {
    background:  url('../img/close.png') transparent no-repeat;
    border: none;
    width: 20px;
    margin-left: 0;
    height: 20px;
    position: relative;
    padding-top: 4px;
}

.edit_title {
    margin-left: 40%;
}

.edit_controls button{
    background: transparent;
    border: 0;
    font: 13px/20px sans-serif;
    font-weight: bolder;
    margin-left: 25px;
    margin-top: 8px;
}

.edit_controls button:hover {
    color: #11aa00;
    cursor: pointer;
}

.labels {
    margin-left: 5px;
    top: 60px;
    position: inherit;
    display: block;
    font: 18px/18px sans-serif;
}

.labels .edit_values {
    margin-bottom: 15px;
}

.labels .edit_labels {
    margin-top: 8px;
    margin-bottom: 8px;
    font: 15px/16px Arial;
}

.labels input {
    border: 1px solid;
    background: transparent;
    height: 18px;
    width: 95%;
}

.tab_control {
    margin-top: 20px;
    display: block;
    position: inherit;
}

#marker_list ul{
    display: block;
    position: fixed;
    overflow-y: auto;
    width: 75%;
    float: left;
}

