html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px}
#map_canvas { height: 100%}

.container0 {
    background: url(../img/green.png);
    margin: 0;
    padding: 0;
    position: absolute;
    width: 40%;
    height: 30px;
    left: 30%;
    top:0;
    border-bottom-right-radius:5px;
    border-bottom-left-radius: 5px;
    z-index: 1000
}

.container0:hover {
    cursor: pointer;
}

.menu-button-auth {
    background: url(../img/key.png) transparent right no-repeat;
    color: white;
    font-size: 13px;
    font-weight: bolder;
    text-align: left;
    border: none;
    width: 20%; 
    height: 30px;
    cursor: pointer;
    float:right;
}

.menu-button {
  float:left;
    height: 30px;
    background: none;
    border: none;
    font-size: 13px;
    font-weight: bolder;
    text-align: left;
    color: white;
    cursor: pointer;
    margin: 0;
    width: 20%;
}

.chosen {
    width: 100%;
    height: 100%;
}

.chzn-results {
    z-index: 1000;
}

.active-result {
    color: black;
}

#edit_points, #edit_routes, #edit_guide {
    visibility: hidden;
    position: absolute;
    font-size: 13px;
    text-align: left;
    font-weight: bolder;
    top: 0;
    right: 20%;
    z-index: 1000;
    background: url(../img/edit.png);
    color: white;
    width: 120px;
    height: 30px;
    border-radius: 3px;
    border : #cccccc solid 1px;
}

#edit_points, #edit_routes, #edit_guide:hover {
    cursor: pointer;
}

#edit_routes {
    top: 40px;
}

#edit_points {
    top: 80px;
}

#alertbox {
    position: relative;
    left: -50%;
    font: 14px/19px sans-serif; 
    color: #ffffff;
    background: rgba(0,255,0,0.8);
    padding: 4px;
    border-radius: 4px;
    z-index: 20;
    text-align: center;
    display: none;
}

#searchpane {
    visibility: hidden;
}

.infoBox {
    border: solid 1.5px #9f9c9c;
    border-radius: 6px;
    background: #ffffff;
    width: 300px;
    height: 100px;
    font-size: 12px;
    font-weight: bolder;
    opacity: 0.8;
} 

.infoBox #text {
    columns: auto;
    column-width: 20;
    text-align: center;
}

.infoRoute {
    width: 300px;
    height: 15px;
    font-size: 12px; 
    font-weight: bolder;
    opacity: 0.8;
    
}

.infoRoute .text {
    width: 120px;
    background: #f7f73d;
    border: solid 1px #9f9c9c;
    border-radius: 5px;
}


.infoRoute2 {
    width: 150px;
    height: 20px;
    font-size: 12px; 
    font-weight: bolder;
    opacity: 0.8;
}

.builder {
    width: 150px;
    background: #ffffff;
    border: solid 1px #9f9c9c;
    border-radius: 5px;
}

#guide {

}