html { height: 100% }
body { height: 100%; margin: 0; padding: 0}
#map_canvas { height: 100%}

.small {
    font-size: 11px;
    display: inline;
    color: yellow;
}

.chosen {
    width: 100%;
    min-width: 300px;
    height: 100%;
}

.chzn-results {
    z-index: 1000;
}

.active-result {
    color: black;
}

.alert-box {
    position: relative;
    padding: 8px;
    left: -50%;
    font: 14px/19px sans-serif;
    color: #ffffff;
    border: 1px solid #b1b1b1;
    border-radius: 3px;
    z-index: 20;
    text-align: center;
    display: none;
}

.infoBox {
    border: solid 2px #9f9c9c;
    border-radius: 6px;
    background: #ffffff;
    width: 300px;
    height: 100px;
    font-size: 12px;
    font-weight: bolder;
    opacity: 0.8;
} 

.infoBox #text {
    text-align: center;
}

.infoRoute {
    width: 300px;
    height: 15px;
    font-size: 12px; 
    font-weight: bolder;
    opacity: 0.8;
    
}

.infoGuide {
    width: 100px;
    height: 15px;
    font-size: 12px;
    font-weight: bolder;
    opacity: 0.8;
}

.infoRoute .text {
    width: 120px;
    background: #f7f73d;
    border: solid 1px #9f9c9c;
    border-radius: 5px;
}

.infoGuide .text {
    width: 50px;
    background: #f7f73d;
    border: solid 1px #9f9c9c;
    border-radius: 5px;
}


.infoRoute2 {
    width: 150px;
    height: 20px;
    font-size: 12px; 
    font-weight: bolder;
    opacity: 0.8;
}

.builder {
    width: 150px;
    background: #ffffff;
    border: solid 1px #9f9c9c;
    border-radius: 5px;
}

.toolbox {
    position: absolute;
    right: 1%;
    bottom: 4%;
    padding: 0;
    margin: 0;
    width: 20%;
    min-width: 230px;
    height: 90%;
    padding-top: 10px;
    background: #eeefee;
    z-index: 10;
    font: 14px/19px sans-serif;
    font-weight: bolder;
    opacity: 0.8;
    display: none;
    cursor: default;
    border: 2px solid #b1b1b1;
}

.routeText {
    font: 14px/19px sans-serif;
    left: 10px;
    margin-left: 10px;
}

.form-signin {
    position: absolute;
    z-index: 1000;
    width: 300px;
    margin-left: 50%;
    margin-top: 100px;
    left: -150px;
    max-width: 300px;
    padding: 9px 19px 9px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.clickable {
    cursor: pointer;
}

.z1 {
    z-index: 1000;
    position: absolute;
}

.margin-left5 {
    margin-left: 5%;
}

.width90 {
    width: 90%
}

.inline {
    display: inline;
}