html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px}
#map_canvas { height: 95%}
#head {
    height: 26px;
    background: url("../img/green.png") ;
    display: block;
}
#head ul {
    padding: 0;
    margin: 0;
}

#head li {
    display: inline;
    margin: 0;
    padding:0;
}

#head li .menu-first, .menu, .next{
    background: transparent;
    padding-bottom: 2px;
    padding-top: 3px;
    border: 0;
    padding-right: 12px;
    padding-left: 12px; 
    list-style-type: none;
    color: white;
    font: 15px/20px sans-serif;
    cursor: pointer;
    margin: 0;
}

#head li .menu-first {
    margin-left: 10%;
}

#head li .menu-first:hover {
    background: green;
    height: 100%;
    margin-top: 0;
}

#head li .menu:hover {
    background: green;
    height: 100%;
    
}

#head li .next:hover {
    background: green;
    height: 100%;
}

#head li input {
    font: 12px/19px sans-serif; 
    text-indent: 3px;
    padding: 8px 0 4px 0;
    height: 13px;
    width: 210px;
    border: 2px transparent;
}

#tootltip {
    position: relative;
    left: -50%;
    font: 14px/19px sans-serif; 
    color: #0c2233;
    background: rgba(0,255,0,0.8);
    padding: 4px;
    border-radius: 4px;
    z-index: 20;
    text-align: center;
    display: none;
}

.infoBox {
    border: solid 1.5px #9f9c9c;
    border-radius: 6px;
    background: #ffffff;
    width: 300px;
    height: 100px;
    font-size: 12px;
    font-weight: bolder;
    opacity: 0.8;
} 

.infoBox #text {
    columns: auto;
    column-width: 20;
    text-align: center;
}

.infoRoute {
    width: 300px;
    height: 15px;
}

.infoRoute .text {
    width: 100px;
    font-size: 12px;
    text-align: center;
    font-weight: bolder;
    background: #ffffff;
    opacity: 0.8;
    border: solid 1.5px #9f9c9c;
    border-radius: 3px;
}
